<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style='color: #ff2cbd !important;'>Tritan.tv</a>
    <div class="d-flex input-group w-auto">
      <button class="btn btn-outline-secondary me-2" type="button">Login</button>
      </button>
    </div>
  </div>
</nav>