<div id="wrapper">
    <nav>
      <ul>
        <li><a class='logo'>Tritan Media</a></li>
        <li><a href="/app" class="active">HOME</a></li>
        <li><a href="/app/about">ABOUT</a></li>
        <li><a href="/app/join">JOIN</a></li>
        <li><a href="/app/create">CREATE</a></li>
        <li><a href="https://jobs.teamtritan.wtf/">CAREERS</a></li>
        <li><a href="https://discord.com/invite/ScUgyE2">SUPPORT</a></li>
      </ul>
    </nav>
</div>