<!DOCTYPE html>
<html>
  <head>
    <title>Tritan Radio: Simple Media Sharing</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <div id="wrapper">
    <nav>
      <ul>
        <li><a href="/app" class="active">HOME</a></li>
        <li><a href="/app/about">ABOUT</a></li>
        <li><a href="/app/join">JOIN</a></li>
        <li><a href="/app/create">CREATE</a></li>
      </ul>
    </nav>
  </div>

  <body>
    <div class="page-banner">
      <body>
        <h1 style="color: white">Tritan Radio</h1>
        <p style="color: white">
          Tritan radio was created by Dylan James, Windows, Crafterzman
        </p>
      </body>
      <br />
      <br />
      <div class="button-grid">
        <br />
        <br />
        <a href="/app/create" class="main-button">Get Started</a>
        <a href="/app/join" class="main-button">Join a Room</a>
      </div>
    </div>
  </body>
</html>
