<!DOCTYPE html>
<html>
  <head>
    <title>Tritan Radio: Simple Media Sharing</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <div id="wrapper">
    <nav>
      <ul>
        <li><a href="/app">HOME</a></li>
        <li><a href="/app/about" class='active'>ABOUT</a></li>
        <li><a href="/app/join">JOIN</a></li>
        <li><a href="/app/create">CREATE</a></li>
        <li><a href="https://discord.com/invite/ScUgyE2">SUPPORT</a></li>

      </ul>
    </nav>
  </div>

  <body>
    <div class="page-banner">
        <h1>Tritan Media</h1>
        <br> <br>
        <p style="color: white">
          Tritan Media was created by <a href='https://github.com/WindowsCmd'>Windows</a>, <a href='https://github.com/Craftzman7'>Crafterzman</a>, and <a href='https://github.com/dylanjamesdev'>Dylan James</a>.
        </p>
      </body>
      <br />
      <br />
      <img src="/assets/music_icon.png" height="150px" width="150px" />
      <div class="button-grid">
        <br />
        <br />
        <a href="/app/create" class="main-button">Get Started</a>
        <a href="/app/join" class="main-button">Join a Room</a>
      </div>
    </div>
  </body>
   <div class="footer">
    <p>© Copyright 2020, Team Tritan</p>
  </div>
</html>
