<!DOCTYPE html>
<html>
  <head>
    <title>Tritan Radio: Simple Media Sharing</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <div id="wrapper">
    <nav>
      <ul>
        <li><a href="/app" class="active">HOME</a></li>
        <li><a href="/app/about">ABOUT</a></li>
        <li><a href="/app/join">JOIN</a></li>
        <li><a href="/app/create">CREATE</a></li>
      </ul>
    </nav>
  </div>

  <body>
    <div class="page-banner">
      <h1>Tritan Media</h1>
      <br />
      <p style="color: white">Media sharing made right, done simple.</p>
      <br />
      <br />
      <img src="/assets/music_icon.png" height="150px" width="150px" />
      <div class="button-grid">
        <br />
        <br />
        <a href="/app/create" class="main-button">Get Started</a>
        <a href="/app/join" class="main-button">Join a Room</a>
      </div>
    </div>

    <!--
    <div class='room-maker'>
        <div class='room-maker-md'>
            <div class='inner'>
                    <input class='input' id='roomName' placeholder="Enter Room Name">
                    <br>
                    <br>
                    <a class='button' onclick="createRoom()">Create Room</a>
                    <div class='bottom-margin'></div> 
            </div>
        </div>
    </div>-->

    <div id="sucsessPOP" class="modal">
      <div class="modal-content">
        <h3>You did it 🎉</h3>
        <a><a id="room-link">Go to your room</a> or share it to your friends</a>
        <br />
        <br />
        <input id="modal-input" class="input" width="100%" value="" />
      </div>
    </div>

    <script>
      var modal = document.getElementById("sucsessPOP");

      function createRoom() {
        let data = {
          name: document.getElementById("roomName").value,
        };

        let options = {
          method: "POST",
          headers: {
            "Content-Type": "application/json;charset=utf-8",
          },
          body: JSON.stringify(data),
        };

        let fRes = fetch("/api/v1/create", options);

        fRes.then((res) => {
          res.json().then((d) => {
            if (d.id) {
              document.getElementById(
                "modal-input"
              ).value = `${window.location.href}${d.id}`;
              document.getElementById(
                "room-link"
              ).href = `${window.location.href}${d.id}`;
              modal.style.display = "block";
            } else {
            }
          });
        });
      }
    </script>
  </body>
  <div class="footer">
    <p>© Copyright 2020, Team Tritan</p>
  </div>
</html>
