<!DOCTYPE html>
<html>
  <head>
    <title>Tritan Radio: Simple Media Sharing</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <%- include('partials/nav') %>
  <body>
    <div class="page-banner">
      <div class='above-video'>
        <h1 class='heading-h1'>Tritan Media</h1>
        <div class="button-grid">
          <a href="/app/create" class="main-button">Get Started</a>
          <a href="/app/join" class="main-button">Join a Room</a>
        </div>
      </div>
      <div class='videoContainer'> 
        <div class="color-overlay"></div>
        <video autoplay loop muted>
          <source src="/assets/home.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  
    <!--
    <div class='room-maker'>
        <div class='room-maker-md'>
            <div class='inner'>
                    <input class='input' id='roomName' placeholder="Enter Room Name">
                    <br>
                    <br>
                    <a class='button' onclick="createRoom()">Create Room</a>
                    <div class='bottom-margin'></div> 
            </div>
        </div>
    </div>-->

    <div id="sucsessPOP" class="modal">
      <div class="modal-content">
        <h3>You did it 🎉</h3>
        <a><a id="room-link">Go to your room</a> or share it to your friends</a>
        <br />
        <br />
        <input id="modal-input" class="input" width="100%" value="" />
      </div>
    </div>

    <script>
      var modal = document.getElementById("sucsessPOP");

      function createRoom() {
        let data = {
          name: document.getElementById("roomName").value,
        };

        let options = {
          method: "POST",
          headers: {
            "Content-Type": "application/json;charset=utf-8",
          },
          body: JSON.stringify(data),
        };

        let fRes = fetch("/api/v1/create", options);

        fRes.then((res) => {
          res.json().then((d) => {
            if (d.id) {
              document.getElementById(
                "modal-input"
              ).value = `${window.location.href}${d.id}`;
              document.getElementById(
                "room-link"
              ).href = `${window.location.href}${d.id}`;
              modal.style.display = "block";
            } else {
            }
          });
        });
      }
    </script>
  </body>
  <div class="footer">
    <p>© Copyright 2020, Team Tritan</p>
  </div>
</html>
